#count_label {
  display: block;
  text-align: center;
  font-size: 5em;
  font-family: sans-serif
}

#btnContainer {
  text-align: center;
}

.buttons{
  padding:10px 20px;
  font-size:1.5em;
  color:black;
  cursor:pointer;
  transition:background-color 025s;
}

.buttons:hover {
  background-color: grey;
}

#die {
  height: 5em;
  width: 5em;
}
